---
title: My Rad Blog
---
<!DOCTYPE html>
<html>
  {% include './head.njk' %}
  <body>
    <div class="no-js-enabled" style="display: none"><span>We’re sorry, but the documentation does not work properly without JavaScript enabled.</span></div>
    {% include './header.njk' %}

    <div class="siteContent">
        {% include './nav.njk' %}
        <main class='siteContent_main' role='main'>
          {{ content | safe }}
        </main>
        {% include './toc.njk' %}
    </div>

    {% include './footer.njk' %}
    {# <script src="/js/app.js" type="text/javascript"></script> #}
    {% set js %}
      {% include "js/header.js" %}
      {% include "js/drawers.js" %}
      {% include "js/keyboardUser.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>