<header class='siteHeader'>
  <nav class='mainNav'>
    <div class="mainNav_brand">
        <a href="/"><img class="logo" src="/images/logo.png" alt="GBIF Docs" title="GBIF Docs"></a>
    </div>
    <section class='mainNav_section'>
      <ul class="mainNav_tabs">
        {% for item in sideNav.navigation %}
				<li class="{% if page.url | startsWith(item.url) %}active{% endif %}">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>
    <div class="mainNav-toggle">
        <button id="toggleMenu" type="button" class="" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="menuBar"></span>
            <span class="menuBar"></span>
            <span class="menuBar"></span>
        </button>
    </div>
  </nav>
</header>