<header class='siteHeader'>
  <nav class='mainNav'>
    <div class="mainNav_brand">
        <a href="/"><img class="logo" src="/images/logo.png" alt="GBIF Docs" title="GBIF Docs"></a>
    </div>
    <section class='mainNav_section'>
      <ul class="mainNav_tabs">
        <li class="active">
          <a href="">group 1</a>
        </li>
        <li class="inActive">
          <a href="">group 2</a>
        </li>
        <li class="inActive">
          <a href="">group 3</a>
        </li>
      </ul>
    </section>
    <div class="mainNav-toggle">
        <button id="toggleMenu" type="button" class="" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="menuBar"></span>
            <span class="menuBar"></span>
            <span class="menuBar"></span>
        </button>
    </div>
  </nav>
</header>