{% from "./navItem.njk" import menuItem %}

<aside id="siteContent_drawer" class='siteContent_drawer siteContent_aside hide-sm'>
  <nav id="drawerNav" class='drawerNav siteContent_aside_content'>
    <section class='drawerNav_section'>
			<ol>
        {% for item in sideNav.navigation %}
				{{ menuItem(item, page) }}
        {% endfor %}
    	</ol>
    </section>
  </nav>
</aside>