<aside id="siteContent_drawer" class='siteContent_drawer siteContent_aside hide-sm'>
  <nav id="drawerNav" class='drawerNav siteContent_aside_content'>
    <!-- <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='/index.html'>
            <img alt="" src="/images/col_logo.png" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul> -->
    <section class='drawerNav_section'>
      <ol>
        {% for item in site.data.nav %}
        {% include menuItem.html item=item page=page %}
          <!-- {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "inActive" %}
          {% endif %}

          {% if item.children %}
            <li class="{{active_class}}">
              <a href="{{ item.path }}">{{ item.name }}</a>
              <ul class='dropdown'>
                {% for child in item.children %}
                  <li>
                    <a href="{{ child.path }}">{{ child.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="{{active_class}}">
              <a href="{{ item.path }}">{{ item.name }}</a>
            </li>
          {% endif %} -->

        {% endfor %}
      </ol>
    </section>
  </nav>
</aside>