<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  {% if page.noindex %}
  <meta name="robots" content="noindex">
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen" rel="stylesheet" type="text/css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <noscript>
    <style>
        body {display: block !important}
        .no-js-enabled {display: block !important}
        .no-js-enabled {position:fixed;top:0;left:0;width:100%;height:100%;background-color:#077cbc;color:#fff;z-index:9999;text-align:center;font-weight: 600}
        .no-js-enabled span{position:relative;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);}
    </style>
  </noscript>

</head>
