<header class='siteHeader'>
  <nav class='mainNav'>
    <!-- <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='/index.html'>
            <img alt="" src="/images/col_logo.png" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul> -->
    <div class="mainNav_brand">
        <a href="/"><img class="logo" src="/assets/images/logo.png" alt="GBIF Docs" title="GBIF Docs"></a>
    </div>
    <section class='mainNav_section'>
      <ul class="mainNav_tabs">
        {% for item in site.data.nav %}
          {% if item.section_id == page.section_id %}
            {% assign active_class = "active" %}
          {% else %}
            {% assign active_class = "" %}
          {% endif %}

          {% if item.children %}
            <li class="{{active_class}}">
              <a href="{{ item.path }}">{{ item.name }}</a>
              <!-- <ul class='dropdown'>
                {% for child in item.children %}
                  <li>
                    <a href="{{ child.path }}">{{ child.name }}</a>
                  </li>
                {% endfor %}
              </ul> -->
            </li>
          {% else %}
            <li class="{{active_class}}">
              <a href="{{ item.path }}">{{ item.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
    <div class="mainNav-toggle">
        <button id="toggleMenu" type="button" class="" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="menuBar"></span>
            <span class="menuBar"></span>
            <span class="menuBar"></span>
        </button>
    </div>
  </nav>
</header>