---
layout: default
---
<main>
	docs template
	{{ content | safe }}

	<ul>
	{% for docs in collections.docs %}
		<li {% if page.url == docs.url %} class="active"{% endif %}>{{ docs.data.title }}</li>
	{% endfor %}
	</ul>

	{{ collections.myCustomData.test }}
</main>