.siteContent_drawer {
  background: white;
  border-right: 1px solid #eee;
  .drawerNav {
    padding: 0px 0;
  }
  .drawerItem {
    text-decoration: none;
    display: inline-block;
  }
  ol {
    list-style: none;
  }
  /* li {
    padding-left: 10px;
    border: 1px solid tomato;
    margin: 5px;
  } */
}

.drawerDepth_1 > .drawerItem {
  font-size: 22px;
  margin: 30px 0 20px 0;
  color: inherit;
}

.drawerDepth_2.hasChildren {
  >.drawerItem {
    font-weight: 600;
    font-size: 12px;
    color: #1f1a47;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 20px;
  }
}

.noChildren, ol li{
  >.drawerItem {
    position: relative;
    display: block;
    font-size: 14px;
    color: #697386;
    text-decoration: none;
    line-height: 20px;
    padding: 4px 16px 4px 0;
  }
}

ol ol ol li.hasChildren {
  ol {
    /* display: none; */
    li {
      padding-left: 10px;
    }
  }
}

@media only screen and (min-width: $aboveMobile) {
  .drawerNav_section .drawerDepth_1 {
    display: none;
    &.activeGroup {
      display: block;
    }
  }
}

