.home {
	.siteHeader {
		box-shadow: none;
		position: relative;
		margin-bottom: -55px;
		background: transparent;
		.mainNav {
			max-width: 1000px;
    	margin: 0 auto;
		}
	}
	main > .hero {
		/* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("https://api.gbif.org/v1/image/unsafe/1170x422/http:%2F%2Fimages.ctfassets.net%2Fuo17ejk9rkwj%2F3681QBgSgo6YcYUAmS0acm%2F134203111f98759516f2fb978f91735c%2Fpalm.jpg"); */
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("https://api.gbif.org/v1/image/unsafe/1170x422/http:%2F%2Fimages.ctfassets.net%2Fuo17ejk9rkwj%2F47IKdma0W40cAiSeKokGw4%2F3a2f89735f88789f97432c3bc4cbb2c9%2FPolyrhachis_armata.jpg");
		background-position: center;
		background-size: cover;
		padding: 180px 0 160px 0;
		>div {
			max-width: 1000px;
			margin: 0 auto;
			text-align: center;
			color: white;
		}
		h1 {
			color: white;
			font-size: 50px;
			font-weight: 800;
			margin-bottom: 10px;
		}
		.subtitle {
			color: white;
		}
	}
	
	.feature > div {
		max-width: 1000px;
		margin: 0 auto;
		padding: 80px 0;
	}

	.feature-gray {
		background: #fbfbfc;
		text-align: right;
	}
	
	.block {
		display: flex;
		align-items: flex-start;
		padding: 1rem;
	}
	.block > img {
		width: 300px;
		margin: 0 1rem;
	}
	.block > div {
		flex: 1;
	}
	.block h1 {
		margin: 0 0 1rem 0;
	}
	
	.button {
		padding: 5px 20px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		border-radius: 4px;
		display: inline-block;
		color: #077cbc;
		border: 1px solid #077cbc;
	}
	.button-isPrimary {
		border-color: #077cbc;
		background: #077cbc;
		color: white;
		&:hover {
			background: #01b5f1;
		}
	}
}