.toc {
  ol {
    list-style: none;
    li {
      padding: 4px 0;
      padding-left: 10px;
      margin-bottom: 4px;
      a {
        font-size: 14px;
        color: #697386;
        line-height: 18px;
        text-decoration: none;
      }
    }
  }
  > ol > li {
    padding-left: 0;
  }
}

.siteContent_toc {
  .drawerNav {
    padding: 30px 0;
  }
  h4 {
    font-size: 13px;
    color: #697386;
    letter-spacing: -.08px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 12px;
  }
}