<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="no-js-enabled" style="display: none"><span>We’re sorry, but the documentation does not work properly without JavaScript enabled.</span></div>
    {% include header.html %}

    <div class="siteContent">
        {% include drawer.html %}
        <main class='siteContent_main' role='main'>
          {{ content }}
        </main>
        {% include tocDrawer.html %}
    </div>

    {% include footer.html %}

  </body>

</html>
